@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body
{
  background-color:#000000;
    color: white;
    font-family: 'Courier New', Courier, monospace;
      margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h1{
    margin-top: 7cm;
    font-family: Arial;
    font-size: 50px;
    color: white;
}
h2{
   margin-top: 0 auto;
    font-family: 'Courier New', Courier, monospace;;
    font-size: 25px;

  color: white;
}
h3{
  font-family: Arial;
  font-size: 25px;
  color: black;
}
a {
  padding: 10px;
  margin-top: 0cm;

  color: white;
  text-decoration: none;
  
}
span {
  color: red;
}
span.green {
    color: greenyellow;
}
span.blue {
    color: dodgerblue;
}
p {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 15px;
}

#container {
  text-align: center;
  padding: 20px;

}



header {
  background-image:url("https://i.imgur.com/CFzNqba.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 200px;
    display:block;
    margin: 0 auto;
    margin-top: 5cm;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 6px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
}
.fa-facebook:hover {
    color:black;
}

.fa-instagram {
    padding:10px 14px;
  
}
.fa-instagram:hover {
color:black;

}
.fa-youtube {
    padding:10px 14px;

}
.fa-youtube:hover {
  color:black;

}
.fa-shopping-basket {
 padding:10px 14px;
}
.fa-shopping-basket:hover {
 color:black;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}

.footer {
    position: sticky;
      text-align: center;
    font-family: Arial;
    font-size: 20px;
  color: black;
    
}
.myButton {
    
   border-color: white;
    border: 1px;
    border-style: solid;

	display:inline-block;
	color:white;
	font-family:'Courier New', Courier, monospace;
	font-size:15px;
	font-weight:bold;
	padding:12px 24px;
	text-decoration:none;
}
.myButton:hover {
    background-color: white;
    color: black;
}
